.name-button{
    display: block;
    width: 200px;
    height: 50px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    color: darkblue;
    border: 1px solid cyan;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;

}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}